# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml

# Kotlin
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific files
*.sublime-project
*.sublime-workspace

# Maven
.mvn/
target/

# Other
*.swp
*.swo
